absl-py==0.9.0
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.1
beautifulsoup4==4.6.0
blinker==1.4
Brlapi==0.6.6
cachetools==4.1.0
catkin-pkg==0.4.17
catkin-tools==0.4.5
certifi==2018.1.18
chardet==3.0.4
click==7.1.2
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.16
defer==1.0.6
distlib==0.3.0
distro-info===0.18ubuntu0.18.04.1
dlib==19.19.0
docutils==0.16
face-recognition==1.3.0
face-recognition-models==0.3.0
feedparser==5.2.1
filelock==3.0.12
future==0.17.1
futures==3.1.1
gast==0.2.2
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphsurgeon==0.4.1
grpcio==1.28.1
h5py==2.9.0
html5lib==0.999999999
httplib2==0.9.2
idna==2.6
importlib-metadata==1.6.0
importlib-resources==1.4.0
imutils==0.5.3
Jetson.GPIO==2.0.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
Mako==1.0.7
Markdown==3.2.1
MarkupSafe==1.0
matplotlib==2.1.1
mock==3.0.5
numpy==1.22.0
oauth==1.0.1
oauthlib==3.1.0
olefile==0.45.1
opt-einsum==3.2.1
osrf-pycommon==0.1.9
PAM==0.4.2
pandas==1.0.3
pbr==5.4.5
Pillow==7.1.2
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.5.0
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pygobject==3.26.1
PyICU==1.9.8
PyJWT==1.5.3
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.7
pyRFC3339==1.0
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.6.1
python-debian==0.1.32
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
requests==2.23.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
rsa==4.0
scipy==1.4.1
SecretStorage==2.3.1
simplejson==3.13.2
six==1.14.0
ssh-import-id==5.7
stevedore==1.32.0
system-service==0.3
systemd-python==234
tensorboard==2.1.1
tensorflow==2.1.0+nv20.3.tf2
tensorflow-estimator==2.1.0
tensorrt==6.0.1.10
termcolor==1.1.0
testresources==2.0.1
torch==1.4.0
torchvision==0.5.0a0+85b8fbf
tqdm==4.45.0
trollius==2.1.post2
ubuntu-drivers-common==0.0.0
uff==0.6.5
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wadllib==1.3.2
webencodings==0.5
Werkzeug==1.0.1
wrapt==1.12.1
xkit==0.0.0
zipp==3.1.0
zope.interface==4.3.2
